<form>
  <div class="form-group">
    <%= simple_form_for(@dose) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :rating %>
      <%= f.submit %>
    </div>
<% end %>
</form>